.aboutContainer{
  margin-top: 2rem;
  max-width: 1200px;
  margin: 2rem auto 0 auto;
  display: flex;
  
}

.aboutContent{
  margin-top: 2rem;
}

.blurb{
  font-size: 1.7rem;
  margin: 0 7rem;
  @media(max-width: 768px){
    margin: 0 5rem;
  }
  @media(max-width: 600px){
    margin: 0 2rem;
  }
  @media(max-width: 425px){
    margin: 0 .5rem;
  }
}

.header{
  color: #e4905b;
  font-size: 3.2rem;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 3rem;
  @media(max-width: 600px){
    margin-top: 2rem;
  }
}
.socialRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5rem 0;
  @media(max-width: 600px){
    flex-direction: column;
  }
}

.social{
  font-size: 3rem;

 i{
   color: #0095e7;
   padding: 1rem;
 }
  @media(max-width: 600px){
    text-align: center;
  }
}